<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <strong>About Foody</strong>
        <p>
          Fooody was built to demonstrate the Translation Exchange Localization Platform.
          The source code is available on our <a href="https://github.com/translationexchange">Github Account</a>
        </p>
      </div>
      <div class="col-md-4 text-right">Translation Exchange, Inc</div>
    </div>
  </div>
</footer>