<div class="text-center" style="padding:100px; font-size: 20px;">
  <div class="container">

    <%= trh do %>

      <table id="mp-right" style="width:100%; vertical-align:top; background:#f5faff;">
        <tbody><tr>
          <td style="padding:2px;">
            <h2 id="mp-itn-h2" style="margin:3px; background:#cedff2; font-family:inherit; font-size:120%; font-weight:bold; border:1px solid #a3b0bf; text-align:left; color:#000; padding:0.2em 0.4em;"><span class="mw-headline" id="In_the_news">In the news</span></h2>
          </td>
        </tr>
        <tr>
          <td style="color:#000; padding:2px 5px;">
            <div id="mp-itn">
              <div class="itn-img" style="float: right; margin-left: 0.5em;">
                <div class="thumbinner mp-thumb" style="background: transparent; border: none; padding: 0; max-width: 112px;"><a href="/wiki/File:Juno_Transparent.png" class="image" title="Juno orbiter"><img alt="Juno orbiter" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/51/Juno_Transparent.png/112px-Juno_Transparent.png" width="112" height="120" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/51/Juno_Transparent.png/168px-Juno_Transparent.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/51/Juno_Transparent.png/224px-Juno_Transparent.png 2x" data-file-width="2796" data-file-height="2988"></a>
                  <div class="thumbcaption" style="padding: 0.25em 0; word-wrap: break-word;"><i>Juno</i> orbiter</div>
                </div>
              </div>
              <ul>
                <li>Five police officers are <b><a href="/wiki/2016_shooting_of_Dallas_police_officers" title="2016 shooting of Dallas police officers">killed</a></b> in <a href="/wiki/Dallas" title="Dallas">Dallas</a>, <a href="/wiki/Texas" title="Texas">Texas</a>, during a protest following the shootings of <b><a href="/wiki/Shooting_of_Alton_Sterling" title="Shooting of Alton Sterling">Alton Sterling</a></b> and of <b><a href="/wiki/Shooting_of_Philando_Castile" title="Shooting of Philando Castile">Philando Castile</a></b>.</li>
                <li>The <b><a href="/wiki/Iraq_Inquiry" title="Iraq Inquiry">Chilcot Report</a></b> into British participation in the <a href="/wiki/Iraq_War" title="Iraq War">Iraq War</a> finds that peaceful alternatives were not exhausted, that <a href="/wiki/Military_intelligence" title="Military intelligence">intelligence</a> was flawed, and that there was insufficient planning for <a href="/wiki/Iraqi_insurgency_(2011%E2%80%9313)" title="Iraqi insurgency (2011–13)">its aftermath</a>.</li>
                <li>The <b><a href="/wiki/Juno_(spacecraft)" title="Juno (spacecraft)"><i>Juno</i> spacecraft</a></b> <i>(pictured)</i> achieves orbit around <a href="/wiki/Jupiter" title="Jupiter">Jupiter</a> for the start of a 20-month survey of the planet.</li>
                <li><b><a href="/wiki/July_2016_Baghdad_bombings" title="July 2016 Baghdad bombings">Two bombings</a></b> in <a href="/wiki/Baghdad" title="Baghdad">Baghdad</a> kill at least 281 people.</li>
                <li>At least 20 people are killed in <b><a href="/wiki/2016_Gulshan_attack" class="mw-redirect" title="2016 Gulshan attack">an armed attack</a></b> on a bakery in <a href="/wiki/Dhaka" title="Dhaka">Dhaka</a>, Bangladesh.</li>
              </ul>
              <div class="itn-footer" style="margin-top: 0.5em;">
                <div><b><a href="/wiki/Portal:Current_events" title="Portal:Current events">Ongoing events</a></b>:
                  <div class="hlist inline">
                    <ul>
                      <li><a href="/wiki/Aftermath_of_the_United_Kingdom_European_Union_membership_referendum,_2016" title="Aftermath of the United Kingdom European Union membership referendum, 2016">UK EU membership referendum aftermath</a></li>
                    </ul>
                  </div>
                </div>
                <div><b><a href="/wiki/Deaths_in_2016" title="Deaths in 2016">Recent deaths</a></b>:
                  <div class="hlist inline">
                    <ul>
                      <li><a href="/wiki/Beatrice_de_Cardi" title="Beatrice de Cardi">Beatrice de Cardi</a></li>
                      <li><a href="/wiki/Abbas_Kiarostami" title="Abbas Kiarostami">Abbas Kiarostami</a></li>
                      <li><a href="/wiki/Michael_Cimino" title="Michael Cimino">Michael Cimino</a></li>
                      <li><a href="/wiki/Caroline_Aherne" title="Caroline Aherne">Caroline Aherne</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="padding:2px;">
            <h2 id="mp-otd-h2" style="margin:3px; background:#cedff2; font-family:inherit; font-size:120%; font-weight:bold; border:1px solid #a3b0bf; text-align:left; color:#000; padding:0.2em 0.4em;"><span class="mw-headline" id="On_this_day...">On this day...</span></h2>
          </td>
        </tr>
        <tr>
          <td style="color:#000; padding:2px 5px 5px;">
            <div id="mp-otd">
              <p><b><a href="/wiki/July_8" title="July 8">July 8</a></b></p>
              <div style="float:right;margin-left:0.5em;" id="mp-otd-img">
                <div class="thumbinner mp-thumb" style="background: transparent; border: none; padding: 0; max-width: 100px;"><a href="/wiki/File:Joseph_Bonaparte_Portrait.jpg" class="image" title="Joseph Bonaparte"><img alt="Joseph Bonaparte" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/19/Joseph_Bonaparte_Portrait.jpg/100px-Joseph_Bonaparte_Portrait.jpg" width="100" height="132" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/19/Joseph_Bonaparte_Portrait.jpg/150px-Joseph_Bonaparte_Portrait.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/19/Joseph_Bonaparte_Portrait.jpg/200px-Joseph_Bonaparte_Portrait.jpg 2x" data-file-width="379" data-file-height="500"></a>
                  <div class="thumbcaption" style="padding: 0.25em 0; word-wrap: break-word;">Joseph Bonaparte</div>
                </div>
              </div>
              <ul>
                <li><a href="/wiki/1283" title="1283">1283</a> – <a href="/wiki/War_of_the_Sicilian_Vespers" title="War of the Sicilian Vespers">War of the Sicilian Vespers</a>: An <a href="/wiki/Crown_of_Aragon" title="Crown of Aragon">Aragonese</a> fleet of <a href="/wiki/Galley" title="Galley">galleys</a> inflicted <b><a href="/wiki/Battle_of_Malta" title="Battle of Malta">a crushing defeat</a></b> on an <a href="/wiki/Capetian_House_of_Anjou" title="Capetian House of Anjou">Angevin</a> fleet at Malta, forcing <a href="/wiki/Charles_I_of_Naples" title="Charles I of Naples"><span class="nowrap">Charles I</span> of Naples</a> to postpone his plan to invade Sicily.</li>
                <li><a href="/wiki/1758" title="1758">1758</a> – <a href="/wiki/French_and_Indian_War" title="French and Indian War">French and Indian War</a>: French forces <b><a href="/wiki/Battle_of_Carillon" title="Battle of Carillon">defeated</a></b> the British at <a href="/wiki/Fort_Carillon" title="Fort Carillon">Fort Carillon</a> on the shore of <a href="/wiki/Lake_Champlain" title="Lake Champlain">Lake Champlain</a> in the <a href="/wiki/Province_of_New_York" title="Province of New York">British Colony of New York</a>.</li>
                <li><a href="/wiki/1808" title="1808">1808</a> – <a href="/wiki/Joseph_Bonaparte" title="Joseph Bonaparte">Joseph Bonaparte</a> <i>(pictured)</i> approved the <b><a href="/wiki/Bayonne_Statute" title="Bayonne Statute">Bayonne Statute</a></b>, a royal charter intended as the basis for his rule as King of Spain during the <a href="/wiki/Peninsular_War" title="Peninsular War">Peninsular War</a>.</li>
                <li><a href="/wiki/1889" title="1889">1889</a> – The first issue of <i><b><a href="/wiki/The_Wall_Street_Journal" title="The Wall Street Journal">The Wall Street Journal</a></b></i>, the world's most circulated business daily newspaper, was published.</li>
                <li><a href="/wiki/1962" title="1962">1962</a> – In response to <b><a href="/wiki/1962_Rangoon_University_protests" title="1962 Rangoon University protests">student protests at Rangoon University</a></b>, Burmese General <a href="/wiki/Ne_Win" title="Ne Win">Ne Win</a> ordered the demolition of the school's Students Union building.</li>
              </ul>
              <div style="margin-top: 0.5em;">More anniversaries:
                <div class="hlist inline nowraplinks">
                  <ul>
                    <li><a href="/wiki/July_7" title="July 7">July 7</a></li>
                    <li><b><a href="/wiki/July_8" title="July 8">July 8</a></b></li>
                    <li><a href="/wiki/July_9" title="July 9">July 9</a></li>
                  </ul>
                </div>
              </div>
              <div class="otd-footer hlist noprint" style="text-align: right;">
                <ul>
                  <li><b><a href="/wiki/Wikipedia:Selected_anniversaries/July" title="Wikipedia:Selected anniversaries/July">Archive</a></b></li>
                  <li><b><a href="https://lists.wikimedia.org/mailman/listinfo/daily-article-l" class="extiw" title="mail:daily-article-l">By email</a></b></li>
                  <li><b><a href="/wiki/List_of_historical_anniversaries" title="List of historical anniversaries">List of historical anniversaries</a></b></li>
                </ul>
                <div style="font-size: smaller;">
                  <ul>
                    <li>Current date: <span class="nowrap">July 8, 2016</span> (<a href="/wiki/Coordinated_Universal_Time" title="Coordinated Universal Time">UTC</a>)</li>
                    <li><span class="plainlinks" id="otd-purgelink"><span class="nowrap"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Main_Page&amp;action=purge">Reload this page</a></span></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody></table>


    <% end %>

  </div>
</div>



