<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <%=link_to(tr("Back"), root_url, class: 'back-btn') %>
      </div>
    </div>

    <div class="page-header">
      <h3>
        <%= tr(@category.name) %>
      </h3>
    </div>

    <%= render(partial: '/recipes/list', locals: {category: @category, recipes: @category.recipes, featured: true}) %>

  </div>
</div>